# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

#the json config file that contains sensitive information
config.json

#the imageQueue is only relevant to a single instance of the bot
imageQueue.json

#the winston logs from the api
error.log
app.log


npm-debug.log*
yarn-debug.log*
yarn-error.log*